body {
    background-color: #FFFCF0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #5EB2FF;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

button {
    background-color: white;
    color: #5EB2FF;
    border: 2px solid white;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #5EB2FF;
    color: white;
    border-color: #5EB2FF;
}

button:active {
    background-color: #DBE0E5;
    color: #5EB2FF;
}

#conteudo > div {
    background-color: #F2F6F8;
    border: 2px solid #5EB2FF;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#conteudo > div > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.errado {
    color: red;
}

.correto {
    color: green;
}

#resultado {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}